body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Counter p {
  display: flex;
  justify-content: space-around;
  max-width: 100px;
}

.Counter p button{
  background: blue;
  color: white;
}

.Dice img{
  max-height: 100px;
  max-width: 100px;
}

.LikeButton {
  display: flex;
  justify-content: space-around;
  max-width: 150px;  
}
